.btn button{
    background:#CFB486;
    color:#ffffff;
    border:none;
    position:relative;
    width: 300px;
    height:60px;
    font-family: 'Noto Serif KR', serif;
    font-size:x-large;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
}
.btn button:hover{
    background:#e8d5c1;
    color:#000000;
}
.btn button:before,.btn button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #B9544A;
    transition:400ms ease all;
}
.btn button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.btn button:hover:before,.btn button:hover:after{
    width:100%;
    transition:800ms ease all;
}
#btn1{
    margin-left: -5px;
}
#btn2{
    margin-left: 10px;
    
}
#btn3{
    margin-left: 10px;
}
.btn{
    position: relative;
    top: 20px;
}

@media only screen and ( max-width: 940px ){
    .btn button{
        width: 250px;
    }
    #btn2{
        margin-left: 5px;
    }
    #btn3{
        margin-left: 5px;
    }

    }

@media only screen and ( max-width: 849px ){
    .btn{
        width: 300px;
        height: 200px;
        margin-left: 4px;
    }
    .btn button{
        width: 300px;
    }
    #btn1{
        margin-left: -1px;
    }
    #btn2{
        margin-top: 40px;
        margin-left: -2px;
    }
    #btn3{
        margin-top: 40px;
        margin-left: -2px;
    }

    }