div.list {
    width: 200px;
    height: 68%;
    border-right: 2px solid #ffffff;
    background-color: rgba(230, 194, 172, 0.815);
    margin-left: 2%;
    color: #474646;
}
@media only screen and ( max-width: 1300px ){
    div.list{
        margin-left: 10%;
    }
}
@media only screen and ( max-width: 1218px ){
    div.list{
        margin-left: 12%;
    }
}
@media only screen and ( max-width: 1210px ){
    div.list{
        margin-left: 6%;
    }
}
@media only screen and ( max-width: 1100px ){
    div.list{
        width: 190px;
        margin-left: 9%;
    }
}
@media only screen and ( max-width: 912px ){
    div.list{
        margin-left: 4%;
    }
}
@media only screen and ( max-width: 900px ){
    div.list{
        width: 190px;
        margin-left: 5%;
    }
}
@media only screen and ( max-width: 900px ){
    div.list{
        width: 190px;
        margin-left: 5%;
    }
}
@media only screen and ( max-width: 891px ){
    div.list{
        width: 190px;
        margin-left: 5%;
    }
}
@media only screen and ( max-width: 823px ){
    div.list{
        width: 190px;
        margin-left: 8%;
    }
}
@media only screen and ( max-width: 796px ){
    div.list{
        width: 150px;
        margin-left: 10%;
    }
}
@media only screen and ( max-width: 772px ){
    div.list{
        width: 150px;
        margin-left: 11%;
    }
}
@media only screen and ( max-width: 769px ){
    div.list{
        width: 140px;
        margin-left: -2%;
    }
}
@media only screen and ( max-width: 700px ){
    div.list{
        margin-left:3%;
    }
}
@media only screen and ( max-width: 659px ){
    div.list{
        margin-left: 5%;
    }
}