/* logo */
#toplogo{
    width: 350px;
    margin-top: 2%;
    float: center;
}
@media ( max-width: 862px ){
    #toplogo{
        width: 350px;
        margin-top: 5%;
        margin-left: -15%;
    }
}
@media only screen and ( max-width: 855px ){
    #toplogo{
        width: 350px;
        margin-top: 5%;
        margin-left: 20px;
    }
    }
