.login-page {
    width: 500px;
    /* margin: auto; */
    margin-left: 33%;
    float: center;
    background: #FFFFFF;
    background-color: rgba( 255, 255, 255, 0.5 );
}
.form {
    position: relative;
    z-index: 1;
    max-width: 400px;
    padding: 50px;
    
}
.form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Noto Serif KR', serif;
}
.form button {
    /* text-transform: uppercase; */
    outline: 0;
    background: #ff9591;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    font-family: 'Noto Serif KR', serif;
}
.form button:hover,.form button:active,.form button:focus {
    background: #ffc61c;
}
.form .message {
    margin: 15px 0 0;
    color: #4f4f4f;
    font-size: 12px;
    font-family: 'Noto Serif KR', serif;
}
.form .message a {
    color:#9b57c2;
    /* text-decoration: none; */
}
.form .idpw {
    margin: 15px 0 0;
    color: #a1a1a1;
    font-size: 12px;
    font-family: 'Noto Serif KR', serif;
}
.form .idpw #id {
    color:#e0b219;
}
.form .idpw #pw {
    color:#2d7a22;
}
.form .register-form {
    display: none;
}
.login-form{
    margin-left: 18%;
    width: 100%;
}
@media only screen and ( max-width: 990px ){
    .login-page {
        margin-left: 29%;

    }
}
@media only screen and ( max-width: 880px ){
    .login-page {
        margin-left: 20%;
    }
}
@media only screen and ( max-width: 750px ){
    .login-page {
        margin-left: 15%;
    }
}
@media only screen and ( max-width: 720px ){
    .login-page {
        margin-right: 90%;
    }
}
@media only screen and ( max-width: 660px ){
    .login-page {
        width: 400px;
        margin-left: 112px;
    }
    .login-form{
        margin-left: -10%;
    }
    .form{
        width: 350px;
    }
}
@media only screen and ( max-width: 590px ){
    .login-page {
        margin-left: 90px;
        width: 394px;
    }
}
@media only screen and ( max-width: 500px ){
    .login-page {
        margin-left: 82px;
        width: 350px;
    }
    .form{
        padding-left: 70px;
        width: 390px;
    }
}
@media only screen and ( max-width: 455px ){
    .login-page {
        margin-left: 69px;
        width: 300px;
    }
    .form{
        width: 340px;
    }
}
@media only screen and ( max-width: 380px ){
    .login-page {
        margin-left: 40px;
        width: 264px;
    }
    .form{
        padding: 10%;
        width: 260px;
        padding-left: 20%;
    }
}