.Bbottom{
    flex-direction: row;
    display: flex;
    font-family: 'Noto Serif KR', serif;
    background-color: #F5F2E4;
    /* height: 10%;
    width: 70%;
    margin-left: 15%; */
    margin-top: 20px;
}


.textbuttons{
    /* margin-left: 45%; */
    float: right;
}
.textbuttons button {
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    font-family: 'Noto Serif KR', serif;
    background-color:   rgb(128, 113, 50);
    border: 2px solid rgb(66, 57, 20);
    color: white;
}