.Bbottom{
    flex-direction: row;
    display: flex;
    font-family: 'Noto Serif KR', serif;
    background-color: #F5F2E4;
    /* height: 10%;
    width: 70%;
    margin-left: 15%; */
    margin-top: 20px;
}


.textbuttons{
    /* margin-left: 45%; */
    float: right;
}
div.Bbottom > div.textbuttons > button {
    font-size: 14px;
    font-weight: 700;
    background-color: rgb(119, 89,61);
    cursor: pointer;
    font-family: 'Noto Serif KR', serif;
    color: #000000;
}