.membership-page {
    width: 500px;
    /* margin: auto; */
    margin-left: 33%;
    float: center;
    background: #FFFFFF;
    background-color: rgba( 255, 255, 255, 0.5 );
    padding: 50px;
}
.registerform input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Noto Serif KR', serif;
    margin-top: 2%;
}
.Jform button {
    /* text-transform: uppercase; */
    outline: 0;
    background: rgb(238, 191, 63);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 15px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    font-family: 'Noto Serif KR', serif;
    margin-top: 5%;
}
.Jform button:hover,.Jform button:active,.Jform button:focus {
    background: #977084;
}
.Jform .message {
    color: #4f4f4f;
    font-size: 12px;
    font-family: 'Noto Serif KR', serif;
    padding-top: 2px;
}
.message p {
    color:#2A3E3D;
    /* text-decoration: none; */
}
.Jform{
    margin-left: 7%;
    margin-right: 3%;
}
@media only screen and ( max-width: 990px ){
    .membership-page {
        margin-left: 25%;

    }
}
@media only screen and ( max-width: 880px ){
    .membership-page {
        margin-left: 20%;
    }
}
@media only screen and ( max-width: 750px ){
    .membership-page {
        margin-left: 18%;
    }
}
@media only screen and ( max-width: 720px ){
    .membership-page {
        margin-left: 17%;
    }
}
@media only screen and ( max-width: 660px ){
    .membership-page {
        width: 400px;
        margin-left: 112px;
    }
    .Jform{
        width: 100%;
    }
    .registerform{
        margin-left: -20px;
    }
}
@media only screen and ( max-width: 590px ){
    .membership-page {
        margin-left: 90px;
        width: 394px;
    }
}
@media only screen and ( max-width: 500px ){
    .membership-page {
        margin-left: 82px;
        width: 350px;
    }
}
@media only screen and ( max-width: 455px ){
    .membership-page {
        margin-left: 85px;
        width: 300px;
    }
    .Jform input {
        padding: 10px;
    }
    .Jform button {
        padding: 10px;
    }
}
@media only screen and ( max-width: 380px ){
    .membership-page {
        margin-left: 49px;
        width: 264px;
    }
    .Jform{
        padding: 10%;
    }
}