.Memo{
    background-image: url('./MemoBG.jpg');
    font-family: 'Noto Serif KR', serif;
    width: 100%;
    height: 100%;
}
.Memo > div.container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 50px);
}
div.note {
    width: 785px;
    height: 466px;
    padding: 70px;
    background-color: rgba(223, 198, 167, 0.884);

}

div.note > input.title {
    display: block;
    font-size: 24px;
    font-weight: 800;
    font-family: inherit;
    border: 0px;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    width: 100%;
    outline: none;
    border-bottom: 1px solid #fff;
}

div.note > textarea.note-contents {
    display: block;
    font-size: 16px;
    font-weight: 400;
    font-family: inherit;
    border: 0px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 300px;
    /* height: calc(100% - 60px); */
    outline: none;
    resize: none;
}
@media only screen and ( max-width: 1292px ){
    div.note {
        width: 620px;
        height: 469px;
    }
}
@media only screen and ( max-width: 1252px ){
    div.note {
        width: 620px;
        height: 410px;
    }
    div.note > input.title {
        margin-top: -5%;
    }
    div.note > textarea.note-contents {
        height: 250px;
    }
}
@media only screen and ( max-width: 912px ){
    div.note {
        width: 400px;
        height: 470px;
        padding: 20px;
    }
    div.note > input.title {
        margin-top: 15%;
    }
}
@media only screen and ( max-width: 912px ){
    div.note {
        width: 390px;
        height: 410px;
        padding: 20px;
    }
    div.note > input.title {
        margin-top: 10%;
    }
}
@media only screen and ( max-width: 754px ){
    div.note {
        width: 600px;
        height: 410px;
        padding: 10px;
    }
    div.note > input.title {
        width: 300px;
        margin-top: 15%;
    }
    div.note > textarea.note-contents {
        height: 250px;
    }
}